.wetherBg{
  background: url(media/sky\ weather\ image.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading{
  color: white;
  font-weight: 700;
}

.wetherResultBox{
  margin: auto;  
  width: 500px;
  height: 300px;
}

.weatherIcon{
  width: 100px;
  height: 100px;
  margin-top: 2rem;
}

.weatherCity{
  font-size: 35px;
}

.weatherTemp{
  font-size: 55px;
  font-weight: 700;
}